.description,
.summary {
    margin: 20px;
    border: 2px solid rgb(233, 236, 239);
    border-radius: 4px;
    padding: 7px 5px 0 5px;
    color: #F0EFF0
}

.center-text {
    text-align: center;
}

p, label {
    font-size: large;
    color: #F0EFF0
}

.header-text {
    font-size: larger;
}

.right-text {
    text-align: right;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.submit-text {
    font-size: x-large;
}

.black-background {
    color: #F0EFF0;
}

@media screen and (min-width: 780px) {

    .flex-container {
        display: flex;
    }

    .description {
        flex: 1;
    }

}