.submit-button {
    display: block !important;
    margin: 0 auto !important;
}

@media screen and (min-width: 780px) {

    .flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap
    }

    .input-field {
        width: 19%;
    }

    .currency-list {
        width: 39%;
    }
}
