.footer {
    /*background-color: #F5F5F5;*/
    margin: 40px 20px 0 20px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    border-top: 2px solid #F0EFF0;
    border-left: 2px solid #F0EFF0;
    border-right: 2px solid #F0EFF0;
}

p {
    margin-bottom: 0;
    color: #F0EFF0
}